# 配置文件
configs/*.yaml
configs/*.yml
!configs/*.example.yaml
!configs/*.example.yml

# 日志文件
logs/
*.log

# 临时文件
tmp/
*.tmp

# 编译输出
bin/
dist/
*.exe
*.exe~
*.dll
*.so
*.dylib

# IDE相关
.idea/
.vscode/
*.swp
*.swo

# 系统文件
.DS_Store
Thumbs.db

.cursor/
.venv/
.pytest_cache/
cmd/__debug_bin*
